/* Animation for fields */
.field-animation {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 3s ease, transform 3s ease;
}

.field-animation.show {
    opacity: 1;
    transform: translateY(0);
}
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity 0.2s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


